.Movie {
    margin: 0 10px 15px;
    width: 30%;
    background-color: #dddddd;
    border: 2px solid white;
    border-radius: 10px;

}

.Detail {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.Detail h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.Detail img {
    max-width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.Detail h5 {
    font-size: 16px;
    margin: 0;
}

.Detail p {
    font-size: 18px;
    line-height: 1.5;
}
